@import "./sass/variables";

@include mat-core();
@include angular-material-theme($app-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
