<header>
  <mat-toolbar color="primary" class="mat-toolbar-row">
    <span class="title">StarTodos</span>
    <span class="spacer"></span>
    <a
      href="https://twitter.com/armanozak"
      aria-label="Twitter"
      mat-icon-button
    >
      <mat-icon svgIcon="twitter"></mat-icon>
    </a>
    <a
      href="https://github.com/armanozak/angular-101"
      aria-label="GitHub Repository"
      mat-icon-button
    >
      <mat-icon svgIcon="github"></mat-icon>
    </a>
  </mat-toolbar>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <span>Made in Turkey with</span>
  <mat-icon>favorite</mat-icon>
</footer>
