@import "../../../sass/variables";

:host {
  --container-min-height: calc(100vh - 100px);
  --container-padding: 30px;

  @media (max-width: 599px) {
    --container-min-height: calc(100vh - 92px);
    --container-padding: 20px;
  }
}

.title {
  display: inline-block;
  padding: 0 0.5em;
  vertical-align: middle;
}

.title,
mat-icon {
  color: mat-color($app-accent, 600);
}

main {
  box-sizing: border-box;
  min-height: var(--container-min-height);
  padding: var(--container-padding);
}

footer {
  background: mat-color($mat-grey, 200);
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-icon {
    color: mat-color($mat-pink, 200);
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    margin-left: 4px;
  }
}

.spacer {
  flex: 1 1 auto;
}
